<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">

	<testsuite name="Default">
		<!-- directory>mysite/tests</directory>
		<directory>cms/tests</directory>
		<directory>framework/tests</directory>
		<directory>framework/admin/tests</directory -->
<directory>TechTest/tests</directory>
	</testsuite>

	<!-- listeners>
		<listener class="SilverStripe\Dev\TestListener" file="framework/src/Dev/TestListener.php" />
	</listeners -->

	<groups>
		<exclude>
			<group>sanitychecks</group>
		</exclude>
	</groups>
</phpunit>
